.body_equipo{
	margin: 30px 0px;
}

.titulo_equipo{
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	background: rgb(8,8,95);
background: -moz-linear-gradient(-45deg,  rgba(8,8,95,1) 0%, rgba(30,87,153,1) 81%, rgba(8,8,95,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(8,8,95,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(100%,rgba(8,8,95,1)));
background: -webkit-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: linear-gradient(135deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08085f', endColorstr='#08085f',GradientType=1 );
	color:white;
	margin-bottom: 20px;
}