*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-image:url(../images/bg-footer.png);
    background-repeat: repeat;
}

header{
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -webkit-transition: all ease .4s;
    transition: all ease .4s;
    -ms-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -o-transition: all ease .4s;
}
#titulo_vision{
    margin: 0;
    padding:0;
    color:#0000CC;
    font-size: 1.6em;
}
#titulo_vision:hover{
    color:#0000CC;
    text-decoration: none;
}
#titulo_vision h1{
    margin: 2px;
    padding:2px;
}
#titulo_vision_xs{
    margin: 0;
    padding:0;
    color:#0000CC;
    font-size: 1em;
}
#titulo_vision_xs:hover{
    color:#0000CC;
    text-decoration: none;
}
#titulo_vision_xs h1{
    margin: 2px;
    padding:2px;
}
.contacto_header{
    display: block;
    height: 66px;
    background-color: rgba(255, 255, 255,.3);
    padding: 24px 10px;
    text-align: center;
    color: #0000CC;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: .5s all ease;
    font-weight: 500;
}
.contacto_header:hover{
    text-decoration: none;
    color: #102675;
    font-weight: bold;
    background-color: white;
}
.icon{
    display: block;
    height: 66px;
    cursor: pointer;
    color: #0000CC;
    font-size: 2em;
    text-align: center;
    padding: 20px 0px;
    transition: .5s all ease;
}
.icon:hover{
    background: white;
    color: #0000CC;
    font-weight: bold;
}
.icon-xs{
    display: block;
    height: 66px;
    cursor: pointer;
    color: #0000CC;
    font-size: 1.2em;
    text-align: center;
    padding: 20px 0px;
    transition: .3s all ease;
}

.cont_nav_big{
    -webkit-transition: .3s all ease;
    transition: .3s all ease;
}
.nav_big ul{
    list-style: none;
}
.nav_big ul li a{
    color: #0000CC;
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
}
.nav_big ul li a:hover{
    text-decoration: none;
}
.nav ul li ul li a{
    background: white;
}
.nav_big > ul > li{
    display: inline-block;
    padding: 7px;
}
.nav_big ul li ul{
    display: none;
    z-index: 3;
    position: absolute;
}
.nav_big ul li ul li{
    border-bottom: 1px solid white;
}
.nav_big ul li ul li:last-child{
    border-bottom: none;
}
.nav_big ul li:hover > ul{
    display: block;
}

#slide{
    margin-top: 30px;
}
.botones_apartado{
    background: rgb(8,8,95);
background: -moz-linear-gradient(-45deg,  rgba(8,8,95,1) 0%, rgba(30,87,153,1) 81%, rgba(8,8,95,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(8,8,95,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(100%,rgba(8,8,95,1)));
background: -webkit-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: linear-gradient(135deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08085f', endColorstr='#08085f',GradientType=1 );

    display: block;
    padding: 10px;
    border: 1px solid white;
    margin: 15px 0px;
    color: white;
    border-radius: 5px;
    font-size: 20px;

}
.botones_apartado:hover{
    color: white;
    text-decoration: none;
    background: rgb(8,8,95);
background: -moz-linear-gradient(-45deg,  rgba(8,8,95,1) 0%, rgba(30,87,153,1) 19%, rgba(8,8,95,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(8,8,95,1)), color-stop(19%,rgba(30,87,153,1)), color-stop(100%,rgba(8,8,95,1)));
background: -webkit-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 19%,rgba(8,8,95,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 19%,rgba(8,8,95,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 19%,rgba(8,8,95,1) 100%);
background: linear-gradient(135deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 19%,rgba(8,8,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08085f', endColorstr='#08085f',GradientType=1 );

}
#horarios:link{
    text-decoration: none;
    color: white;
}

.body{
    text-align: center;
    margin: 10px;
    padding: 20px 0px;
}
.body h3{
    text-transform: uppercase;
    font-weight: bold;
}
.button_body{
    text-align: center;
    
    color: black;
  
    margin: 5px 0px;
    padding: 8px;
    border: 2px solid black;
}
.button_body:hover{
    color: black;
    text-decoration: none;
    background: rgb(255, 255, 255);
}
.video_boton{
    width: 200px;
    height: 200px;
}
.checklist{
    width: 200px;
    height: 200px;
}
.revista{
    background-color: #3B84A6;
    margin: 0px;
    padding: 30px 0px;
    color: white;
}
.revista h2{
    font-size: 25px;
    font-weight: 900;
    margin-top: 60px;
}
.img_revista{
    width: 120px;
    height: 180px;
    float: right;
    box-shadow: 0px 0px 5px black;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
    transition: .5s all ease;
}
.img_revista:hover{
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

footer{
    background-color: #31302B;
    color: white;
    padding: 30px 0;
    border: none;
    margin-top: 0;
}
.header_footer{
    padding: 25px 0px;
    color: white;
}
.logo_footer{
    float: right;
}
.resena_footer{
    font-size: 18px;
    display: block;
    margin-top: 25px;
}


.redes ul{
    list-style: none;
}
.redes ul li{
    display: inline-block;
    
}
.redes ul li a{
    text-decoration: none;
    width: 50px;
    height: 50px;
    display: block;
    background-image: url(../images/flat-social-media-icons-enfuzed.png);
}
.redes ul li a span{
    display: none;
}
.facebook{
    background-position: -18px -338px;
}
.facebook:hover{
    background-position: -18px -16px;
}
.twitter{    
    background-position: -78px -338px;
}
.twitter:hover{
    background-position: -78px -16px;
}
.instagram{
    background-position: -378px -338px;
}
.instagram:hover{
    background-position: -378px -16px;
}
.goTop{
    cursor: pointer;
    font-size: 20px;
}
.menu{
	list-style: none;
	line-height: 42px;
	margin: 2em auto;
	/*outline: 1px solid red;*/
	padding-left: 0;
	width: 15em;
}

.menu a{
	background: url(icons.png) no-repeat left top;
	color: #ddd;
	display: block;
	padding-left: 3em;
	text-decoration: none;
	text-transform: uppercase;
	--webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
	width: 100%;
}

.menu a:hover{
	margin-left: 1em;
}

.menu li{
	box-shadow: 3px 0 rgba(255,255,255,.2) inset;
	margin-bottom: 5px;
	padding-left: .9em;
	/*outline: 1px solid green;*/
	--webkit-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}

.menu li:hover{
	box-shadow: 15em 0 rgba(255,255,255,.2) inset;
}
.nav_mov{
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	left: -18em;
	height: 100%;
	padding-right: .25em;
	padding-top: 3em;
	position: fixed;
    overflow: auto;
	top: 0;
	transition: all .3s;
	z-index: 20;
}

.nav_mov.mostrar {
	left: 0;
}
#mostrar-nav {
	z-index: 30;
}
.quienes_hidden{
    display: none;
}
.servicios_hidden{
    display: none;
}
.pacientes_hidden{
    display: none;
}
.fixed{
    top: 0;
    z-index: 1000;
    position: fixed;
    background-color: white;

    right: 0;
    left: 0;
    box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
} 

.fixednavbig{
    top: 0;
    z-index: 1000;
    position: fixed;
    background: rgb(8,8,95);
background: -moz-linear-gradient(-45deg,  rgba(8,8,95,1) 0%, rgba(30,87,153,1) 72%, rgba(30,87,153,1) 91%, rgba(8,8,95,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(8,8,95,1)), color-stop(72%,rgba(30,87,153,1)), color-stop(91%,rgba(30,87,153,1)), color-stop(100%,rgba(8,8,95,1)));
background: -webkit-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 72%,rgba(30,87,153,1) 91%,rgba(8,8,95,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 72%,rgba(30,87,153,1) 91%,rgba(8,8,95,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 72%,rgba(30,87,153,1) 91%,rgba(8,8,95,1) 100%);
background: linear-gradient(135deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 72%,rgba(30,87,153,1) 91%,rgba(8,8,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08085f', endColorstr='#08085f',GradientType=1 );

    right: 0;
    left: 0;
    box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -o-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -ms-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}
.fixednavbig .nav_big ul li ul li a{
    color:white;
    background-color: #102675;
}
.fixednavbig .nav_big ul li a{
    color:white;
}
@media (max-width: 768px) {
    .logo_footer{
        float: none;
    }
    .header_footer{
        text-align: center;
    }
    .articles_footer{
        border-bottom: 1px dotted white;
    }
    .articles_footer:last-child{
        border-bottom: none;
    }
    .img_revista{
        float: none;
        margin-top: 10px;
        margin-left: 20px;
    }
    .revista h2{
        margin-top: 10px;
    }
/*
    #slide{
        margin-top: 20px;
    }
*/
}

