
.body_sedes{
	margin: 30px 0px;
}
.titulo_sedes{
	border-radius: 5px;
	background: rgb(8,8,95);
background: -moz-linear-gradient(-45deg,  rgba(8,8,95,1) 0%, rgba(30,87,153,1) 81%, rgba(8,8,95,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(8,8,95,1)), color-stop(81%,rgba(30,87,153,1)), color-stop(100%,rgba(8,8,95,1)));
background: -webkit-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
background: linear-gradient(135deg,  rgba(8,8,95,1) 0%,rgba(30,87,153,1) 81%,rgba(8,8,95,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#08085f', endColorstr='#08085f',GradientType=1 );
	color:white;
}
.titulo_sedes h2{
	text-transform: uppercase;
	text-align: center;
}
#sedeprincipal {
	margin: 30px 0;
}

#map-canvasuno {
	width: 100%;
	height: 300px;
}

#sedeayudas {
	margin: 30px 0;
}


#map-canvasdos {
	width: 100%;
	height: 300px;
}
#sedeapartado {
	margin: 30px 0;
}


#map-canvastres {
	width: 100%;
	height: 300px;
}

.img_min{
	transition: 1s all ease;
}

.img_min:hover{
	transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

#principal_icon{
	float:right;
	cursor: pointer;
	margin:3px;
}
#ayudas_icon{
	float:right;
	cursor: pointer;
	margin:3px;
}
#apartado_icon{
	float:right;
	cursor: pointer;
	margin:3px;
}






#principal-info h4{
	font-weight: bold;
}
#principal-info ul{
	list-style: none;
}
#ayudas-info h4{
	font-weight: bold;
}
#ayudas-info ul{
	list-style: none;
}
#apartado-info h4{
	font-weight: bold;
}
#apartado-info ul{
	list-style: none;
}





/*galeria photoSwipe*/
.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
}
.my-gallery figure {
  display: block;
  float: left;
  width: 100px;
  height: 100px;
    margin: 20px;
}
.my-gallery figcaption {
  display: none;
}
/*galeria photoSwipe*/








@media (max-width: 768px){
	.titulo_sedes h2{
		font-size: 20px;
	}
}
@media (min-width: 768px) { 
	#sedeprincipal {
		position: relative;
		height: 300px;
	}

	#map-canvasuno {
		position: absolute;
		top: 0;
		left: 0;
	}

	#principal-info {
		height: 300px;
		overflow: auto;
	}
	#principal-info {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.65);
	}




	#sedeapartado {
		position: relative;
		height: 300px;
	}

	#map-canvastres {
		position: absolute;
		top: 0;
		left: 0;
	}

	#apartado-info {
		height: 300px;
		overflow: auto;
	}
	#apartado-info {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.65);
	}





	#sedeayudas {
		position: relative;
		height: 300px;
	}

	#map-canvasdos {
		position: absolute;
		top: 0;
		left: 0;
	}

	#ayudas-info {
		height: 300px;
		overflow:auto;
	}
	#ayudas-info {
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.65);
	}
}